/* div{
    width: 100%;
} */
.header{
    height:80px;
    background: #eee;
    /* padding:10px; */
    position: relative;

}
#title{
    position: absolute;
    left: 10%;
    top: 30%
}
#title span{
    margin: 5px 0;
    display: block
}
.input{
    height: 40px;
    background:#ffffff;
    padding: 4px 10px;
}
.content{
    /* background: #ffffff; */
    height: 100%
}
/* .next-selected a{

    color:blue;

} */

/* .next-menu-item-text::before{
    content: '&#xe636';
} */